In [27]:
import pandas as pd

In [28]:
salary = pd.read_csv('IT Salary Survey EU  2020.csv')

In [29]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

In [30]:
salary.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN

In [31]:
salary.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [32]:
salary['Yearly brutto salary (without bonus and stocks) in EUR'].mean()

np.float64(80279042.57871509)

In [33]:
i = salary['Yearly brutto salary (without bonus and stocks) in EUR'].idxmax()
salary.loc[i]

Timestamp                                                                                                                  25/11/2020 03:27:34
Age                                                                                                                                        NaN
Gender                                                                                                                                     NaN
City                                                                                                                                    Berlin
Position                                                                                                                                   NaN
Total years of experience                                                                                                                  NaN
Years of experience in Germany                                                                                                             NaN
Seniority level                                                                                                                            NaN
Your main technology / programming language                                                                                                NaN
Other technologies/programming languages you use often                                                                                     NaN
Yearly brutto salary (without bonus and stocks) in EUR                                                                           99999999999.0
Yearly bonus + stocks in EUR                                                                                                               NaN
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                                   NaN
Annual bonus+stocks one year ago. Only answer if staying in same country                                                                   NaN
Number of vacation days                                                                                                                    NaN
Employment status                                                                                                                          NaN
Сontract duration                                                                                                                          NaN
Main language at work                                                                                                                      NaN
Company size                                                                                                                               NaN
Company type                                                                                                                               NaN
Have you lost your job due to the coronavirus outbreak?                                                                                    NaN
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                                          NaN
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR                    NaN
Name: 473, dtype: object

In [34]:
salary.drop(i, axis=0, inplace=True)

In [35]:
salary['Yearly brutto salary (without bonus and stocks) in EUR'].mean()

np.float64(470958.7477076677)

In [36]:
i = salary['Yearly brutto salary (without bonus and stocks) in EUR'].idxmax()
salary.loc[i]

Timestamp                                                                                                                  27/11/2020 14:55:13
Age                                                                                                                                       29.0
Gender                                                                                                                                  Female
City                                                                                                                                   Cologne
Position                                                                                                                           ML Engineer
Total years of experience                                                                                                                    1
Years of experience in Germany                                                                                                               1
Seniority level                                                                                                                         Middle
Your main technology / programming language                                                                                              julia
Other technologies/programming languages you use often                                                                                     NaN
Yearly brutto salary (without bonus and stocks) in EUR                                                                             500000000.0
Yearly bonus + stocks in EUR                                                                                                        5000000000
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                           500000000.0
Annual bonus+stocks one year ago. Only answer if staying in same country                                                              50000000
Number of vacation days                                                                                                                     99
Employment status                                                                                                           Full-time employee
Сontract duration                                                                                                           Unlimited contract
Main language at work                                                                                                                  English
Company size                                                                                                                          up to 10
Company type                                                                                                                           Startup
Have you lost your job due to the coronavirus outbreak?                                                                                     No
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                                          0.0
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR                      0
Name: 853, dtype: object

In [37]:
salary.drop(i, axis=0, inplace=True)

In [38]:
i = salary['Yearly brutto salary (without bonus and stocks) in EUR'].idxmax()
salary.loc[i]

Timestamp                                                                                                                      26/11/2020 17:08:47
Age                                                                                                                                           42.0
Gender                                                                                                                                        Male
City                                                                                                                                        Berlin
Position                                                                                                                        Frontend Developer
Total years of experience                                                                                                                       18
Years of experience in Germany                                                                                                                   5
Seniority level                                                                                                                             Senior
Your main technology / programming language                                                                                               React JS
Other technologies/programming languages you use often                                                                     Javascript / Typescript
Yearly brutto salary (without bonus and stocks) in EUR                                                                                    850000.0
Yearly bonus + stocks in EUR                                                                                                                 95000
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                                   75000.0
Annual bonus+stocks one year ago. Only answer if staying in same country                                                                     82000
Number of vacation days                                                                                                                         35
Employment status                                                                                                               Full-time employee
Сontract duration                                                                                                               Unlimited contract
Main language at work                                                                                                                      English
Company size                                                                                                                              101-1000
Company type                                                                                                                               Product
Have you lost your job due to the coronavirus outbreak?                                                                                        Yes
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                                              NaN
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR                       5000
Name: 778, dtype: object

In [39]:
i = salary['Yearly brutto salary (without bonus and stocks) in EUR'].idxmin()
salary.loc[i]

Timestamp                                                                                                                                         28/11/2020 05:36:11
Age                                                                                                                                                              27.0
Gender                                                                                                                                                           Male
City                                                                                                                                                          Hamburg
Position                                                                                                                                            Backend Developer
Total years of experience                                                                                                                                           3
Years of experience in Germany                                                                                                                                      ⁰
Seniority level                                                                                                                                                Middle
Your main technology / programming language                                                                                                                      .net
Other technologies/programming languages you use often                                                                     Javascript / Typescript, .NET, SQL, Docker
Yearly brutto salary (without bonus and stocks) in EUR                                                                                                        10001.0
Yearly bonus + stocks in EUR                                                                                                                                      NaN
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                                                          NaN
Annual bonus+stocks one year ago. Only answer if staying in same country                                                                                          NaN
Number of vacation days                                                                                                                                           NaN
Employment status                                                                                                                                  Part-time employee
Сontract duration                                                                                                                                  Temporary contract
Main language at work                                                                                                                                         English
Company size                                                                                                                                                    11-50
Company type                                                                                                                                      Consulting / Agency
Have you lost your job due to the coronavirus outbreak?                                                                                                            No
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                                                                 NaN
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR                                           NaN
Name: 883, dtype: object

df['iznos'] = df['iznos'].replace({100: 999, 200: 888})

In [43]:
salary['Yearly brutto salary (without bonus and stocks) in EUR'][i] = 150000

C:\Users\Python\AppData\Local\Temp\ipykernel_3012\650361367.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  salary['Yearly brutto salary (without bonus and stocks) in EUR'][i] = 150000
C:\Users\Python\AppData\Local\Temp\ipykernel_3012\650361367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary['Yearly brutto salary (without bonus and stocks) in EUR'][i] = 150000

In [44]:
salary.loc[i]

Timestamp                                                                                                                                         28/11/2020 05:36:11
Age                                                                                                                                                              27.0
Gender                                                                                                                                                           Male
City                                                                                                                                                          Hamburg
Position                                                                                                                                            Backend Developer
Total years of experience                                                                                                                                           3
Years of experience in Germany                                                                                                                                      ⁰
Seniority level                                                                                                                                                Middle
Your main technology / programming language                                                                                                                      .net
Other technologies/programming languages you use often                                                                     Javascript / Typescript, .NET, SQL, Docker
Yearly brutto salary (without bonus and stocks) in EUR                                                                                                       150000.0
Yearly bonus + stocks in EUR                                                                                                                                      NaN
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                                                          NaN
Annual bonus+stocks one year ago. Only answer if staying in same country                                                                                          NaN
Number of vacation days                                                                                                                                           NaN
Employment status                                                                                                                                  Part-time employee
Сontract duration                                                                                                                                  Temporary contract
Main language at work                                                                                                                                         English
Company size                                                                                                                                                    11-50
Company type                                                                                                                                      Consulting / Agency
Have you lost your job due to the coronavirus outbreak?                                                                                                            No
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                                                                 NaN
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR                                           NaN
Name: 883, dtype: object

In [45]:
salary['Yearly brutto salary (without bonus and stocks) in EUR'].mean()

np.float64(71766.86741007194)

In [46]:
salary['Yearly brutto salary (without bonus and stocks) in EUR'].median()

np.float64(70000.0)

In [49]:
salary['Seniority level'].value_counts()

Seniority level
Senior                                       565
Middle                                       365
Lead                                         166
Junior                                        79
Head                                          44
Principal                                      3
VP                                             1
No level                                       1
Manager                                        1
Work Center Manager                            1
No level                                       1
CTO                                            1
Director                                       1
Key                                            1
C-level executive manager                      1
intern                                         1
Student                                        1
no idea, there are no ranges in the firm       1
C-Level                                        1
Working Student                                1
Entry level                                    1
Intern                                         1
student                                        1
Self employed                                  1
Name: count, dtype: int64

prosjecna_starost = titanic.groupby('Survived')['Age'].mean()

In [53]:
iskustvo_plata = salary.groupby('Total years of experience')['Yearly brutto salary (without bonus and stocks) in EUR'].mean()
iskustvo_plata

Total years of experience
0                                                       39666.666667
0.8                                                     29750.000000
1                                                       58883.333333
1 (as QA Engineer) / 11 in total                        60000.000000
1,5                                                     48000.000000
1.5                                                     53925.000000
10                                                      78094.072464
11                                                      78560.465116
12                                                      81380.597015
13                                                      82583.292683
14                                                      79833.333333
15                                                      78874.603175
15, thereof 8 as CTO                                   150000.000000
16                                                      80395.000000
17                                                      82375.000000
18                                                     141000.000000
19                                                      86585.714286
2                                                       50384.210526
2,5                                                     40000.000000
2.5                                                     50000.000000
20                                                      95457.142857
21                                                      78333.333333
22                                                      62800.000000
23                                                     100000.000000
24                                                     130000.000000
25                                                      76428.571429
26                                                      93000.000000
27                                                      73500.000000
28                                                      78500.000000
29                                                      28800.000000
3                                                       55374.015152
3.5                                                     62500.000000
30                                                      73500.000000
31                                                     110000.000000
383                                                     70000.000000
4                                                       58223.489125
4.5                                                     67500.000000
40                                                      70000.000000
5                                                       66983.647059
5.5                                                     48000.000000
6                                                       70744.949495
6 (not as a data scientist, but as a lab scientist)     57000.000000
6.5                                                     58000.000000
7                                                       69720.238095
7.5                                                     68000.000000
8                                                       68507.717391
9                                                       75031.216667
less than year                                          16320.000000
Name: Yearly brutto salary (without bonus and stocks) in EUR, dtype: float64

In [54]:
salary.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position ',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR',
       'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
       'Annual bonus+stocks one year ago. Only answer if staying in same country',
       'Number of vacation days', 'Employment status', 'Сontract duration',
       'Main language at work', 'Company size', 'Company type',
       'Have you lost your job due to the coronavirus outbreak?',
       'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
       'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR'],
      dtype='object')

In [ ]:
i = salary['Yearly brutto salary (without bonus and stocks) in EUR'].idxmin()
salary.loc[i]

In [58]:
plata_gradovi = salary.groupby('City')['Yearly brutto salary (without bonus and stocks) in EUR'].mean()
plata_gradovi

City
Aachen        40082.000000
Amsterdam     74538.888889
Ansbach       42000.000000
Barcelona     31000.000000
Basel        115000.000000
                 ...
Wroclaw       36000.000000
Würzburg      75000.000000
Zurich       123300.000000
Zürich        35000.000000
warsaw        50000.000000
Name: Yearly brutto salary (without bonus and stocks) in EUR, Length: 119, dtype: float64

In [59]:
plata_gradovi = salary.groupby('City')['Yearly brutto salary (without bonus and stocks) in EUR'].idxmax()
plata_gradovi

City
Aachen       1190
Amsterdam     857
Ansbach       264
Barcelona     944
Basel         967
             ...
Wroclaw       617
Würzburg      410
Zurich        958
Zürich       1019
warsaw        983
Name: Yearly brutto salary (without bonus and stocks) in EUR, Length: 119, dtype: int64

In [60]:
plata_gradovi = salary.groupby('City')['Yearly brutto salary (without bonus and stocks) in EUR'].idxmin()
plata_gradovi

City
Aachen        366
Amsterdam     925
Ansbach       264
Barcelona     712
Basel         967
             ...
Wroclaw       617
Würzburg      410
Zurich       1037
Zürich       1019
warsaw        983
Name: Yearly brutto salary (without bonus and stocks) in EUR, Length: 119, dtype: int64

df[["Sale Price KM","Product Name"]].max()

In [61]:
salary[['Yearly brutto salary (without bonus and stocks) in EUR', 'City']].max()

Yearly brutto salary (without bonus and stocks) in EUR    850000.0
City                                                        warsaw
dtype: object

In [62]:
salary[['Yearly brutto salary (without bonus and stocks) in EUR', 'City']].min()

Yearly brutto salary (without bonus and stocks) in EUR    10001.0
City                                                       Aachen
dtype: object

In [63]:
plata_gradovi = salary.groupby('City')['Yearly brutto salary (without bonus and stocks) in EUR'].mean().idxmin()
plata_gradovi

'Istanbul'

In [65]:
plata_gradovi = salary.groupby('City')['Yearly brutto salary (without bonus and stocks) in EUR'].mean().idxmax()
plata_gradovi

'Cupertino'

In [66]:
salary['Your main technology / programming language'].value_counts()

Your main technology / programming language
Java                 184
Python               164
PHP                   56
C++                   38
JavaScript            34
                    ...
.Net, Angular          1
Atlassian JIRA         1
Qlik                   1
spark                  1
consumer analysis      1
Name: count, Length: 255, dtype: int64

In [72]:
plata_bonus = salary.groupby('Annual bonus+stocks one year ago. Only answer if staying in same country')['Yearly brutto salary (without bonus and stocks) in EUR'].mean()
plata_bonus

Annual bonus+stocks one year ago. Only answer if staying in same country
-                                  24000.000000
0                                  68598.175000
100                                57000.000000
1000                               67823.076923
10000                              86164.000000
                                       ...
92000                              88000.000000
94000                              75000.000000
9500                               90000.000000
98000                              90000.000000
learning budget, bvg, gym, food    57000.000000
Name: Yearly brutto salary (without bonus and stocks) in EUR, Length: 130, dtype: float64