In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("bmw_pricing_challenge.csv")

In [4]:
df.head()

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
0,BMW,118,140411,100,2012-02-01,diesel,black,convertible,True,True,False,False,True,True,True,False,11300,2018-01-01
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
2,BMW,320,183297,120,2012-04-01,diesel,white,convertible,False,False,False,False,True,False,True,False,10200,2018-02-01
3,BMW,420,128035,135,2014-07-01,diesel,red,convertible,True,True,False,False,True,True,True,True,25100,2018-02-01
4,BMW,425,97097,160,2014-12-01,diesel,silver,convertible,True,True,False,False,False,True,True,True,33400,2018-04-01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4843 entries, 0 to 4842
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   maker_key          4843 non-null   object
 1   model_key          4843 non-null   object
 2   mileage            4843 non-null   int64
 3   engine_power       4843 non-null   int64
 4   registration_date  4843 non-null   object
 5   fuel               4843 non-null   object
 6   paint_color        4843 non-null   object
 7   car_type           4843 non-null   object
 8   feature_1          4843 non-null   bool
 9   feature_2          4843 non-null   bool
 10  feature_3          4843 non-null   bool
 11  feature_4          4843 non-null   bool
 12  feature_5          4843 non-null   bool
 13  feature_6          4843 non-null   bool
 14  feature_7          4843 non-null   bool
 15  feature_8          4843 non-null   bool
 16  price              4843 non-null   int64
 17  sold_at            4843 non-null   object
dtypes: bool(8), int64(3), object(7)
memory usage: 416.3+ KB

In [6]:
df["model_key"].unique()

array(['118', 'M4', '320', '420', '425', '335', '325', 'Z4', '120', '220',
       '650', '135', '218', '318', '430', 'M3', '330', '225', 'M235',
       '316', '435', '640', '640 Gran Coupé', '435 Gran Coupé', 'i8',
       '630', '430 Gran Coupé', '635', '520', '525', '530', '535',
       '320 Gran Turismo', '518', '116', '328', '523', 'X3', 'M550',
       '528', '325 Gran Turismo', '125', '318 Gran Turismo',
       '420 Gran Coupé', 'i3', '114', '520 Gran Turismo',
       '530 Gran Turismo', 'M135', '418 Gran Coupé', '330 Gran Turismo',
       '335 Gran Turismo', '730', '123', '535 Gran Turismo', '740', '750',
       'ActiveHybrid 5', '735', 'M5', 'X5', 'X1', 'X4', 'X6', 'X6 M',
       'X5 M', 'X5 M50', '218 Active Tourer', '218 Gran Tourer', '216',
       '220 Active Tourer', '216 Gran Tourer', '216 Active Tourer',
       '225 Active Tourer', '214 Gran Tourer'], dtype=object)

In [7]:
len(df["model_key"].unique())

75

In [8]:
len(df["model_key"])

4843

In [11]:
df[df["mileage"] < 50000]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
1,BMW,M4,13929,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
16,BMW,220,21167,135,2015-07-01,petrol,white,convertible,False,False,True,False,False,False,False,True,21900,2018-04-01
17,BMW,650,24521,270,2008-01-01,petrol,grey,convertible,True,False,False,False,False,False,True,False,9200,2018-09-01
21,BMW,218,24868,100,2016-01-01,petrol,grey,convertible,False,True,False,False,False,False,True,True,31000,2018-05-01
23,BMW,220,46963,140,2015-10-01,diesel,orange,convertible,False,True,False,False,False,True,True,True,23300,2018-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4834,BMW,218 Gran Tourer,47782,110,2015-10-01,diesel,blue,van,False,True,False,False,False,False,True,True,14900,2018-07-01
4838,BMW,218 Gran Tourer,39743,110,2015-10-01,diesel,black,van,False,True,False,False,False,False,True,False,14600,2018-08-01
4839,BMW,218 Active Tourer,49832,100,2015-06-01,diesel,grey,van,False,True,False,False,False,False,True,True,17500,2018-08-01
4840,BMW,218 Gran Tourer,19633,110,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,17000,2018-09-01
4841,BMW,218 Active Tourer,27920,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01

In [12]:
def konverzija (x):
    return x*1.619

df["mileage"] = df["mileage"].apply(konverzija)

df[df["mileage"] < 50000]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at
1,BMW,M4,22551.051,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01
16,BMW,220,34269.373,135,2015-07-01,petrol,white,convertible,False,False,True,False,False,False,False,True,21900,2018-04-01
17,BMW,650,39699.499,270,2008-01-01,petrol,grey,convertible,True,False,False,False,False,False,True,False,9200,2018-09-01
21,BMW,218,40261.292,100,2016-01-01,petrol,grey,convertible,False,True,False,False,False,False,True,True,31000,2018-05-01
32,BMW,218,40555.950,100,2016-01-01,petrol,grey,convertible,False,True,False,False,False,False,True,True,31000,2018-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4826,BMW,214 Gran Tourer,46259.687,70,2015-08-01,diesel,red,van,True,True,False,False,False,False,True,False,17800,2018-09-01
4832,BMW,218 Gran Tourer,40445.858,100,2015-10-01,diesel,red,van,True,False,True,False,False,True,True,True,20200,2018-07-01
4833,BMW,216 Active Tourer,23528.927,85,2015-04-01,diesel,grey,van,True,True,True,False,False,False,True,False,16900,2018-07-01
4840,BMW,218 Gran Tourer,31785.827,110,2015-10-01,diesel,grey,van,False,True,False,False,False,False,True,True,17000,2018-09-01
4841,BMW,218 Active Tourer,45202.480,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01

In [27]:
def godina (x):
    return x[:4]

df["godina_proizvodnje"] = df["registration_date"].apply(godina)

df["godina_proizvodnje"]

0       2012
1       2016
2       2012
3       2014
4       2014
        ...
4838    2015
4839    2015
4840    2015
4841    2016
4842    2013
Name: godina_proizvodnje, Length: 4843, dtype: object

In [33]:
(df["godina_proizvodnje"] < '2018')

0       True
1       True
2       True
3       True
4       True
        ...
4838    True
4839    True
4840    True
4841    True
4842    True
Name: godina_proizvodnje, Length: 4843, dtype: bool

In [36]:

df[(df["godina_proizvodnje"] > '2015') & (df["godina_proizvodnje"] < '2018')]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at,godina_proizvodnje
1,BMW,M4,22551.051,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01,2016
21,BMW,218,40261.292,100,2016-01-01,petrol,grey,convertible,False,True,False,False,False,False,True,True,31000,2018-05-01,2016
32,BMW,218,40555.950,100,2016-01-01,petrol,grey,convertible,False,True,False,False,False,False,True,True,31000,2018-06-01,2016
38,BMW,218,27955.273,110,2016-03-01,diesel,white,convertible,True,True,False,False,True,False,True,True,24200,2018-07-01,2016
45,BMW,218,21259.089,110,2016-04-01,diesel,grey,convertible,False,True,False,False,True,False,True,True,24300,2018-08-01,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4763,BMW,X3,21714.028,100,2016-06-01,diesel,black,suv,True,True,False,False,False,False,True,False,19500,2018-09-01,2016
4808,BMW,216 Gran Tourer,76726.029,85,2016-02-01,diesel,blue,van,True,True,False,False,False,True,True,False,21400,2018-03-01,2016
4809,BMW,218 Gran Tourer,50057.861,85,2016-05-01,diesel,white,van,False,True,True,False,False,False,True,False,19600,2018-04-01,2016
4830,BMW,216 Gran Tourer,77731.428,85,2016-02-01,diesel,blue,van,True,True,False,False,False,True,True,False,15600,2018-06-01,2016
4841,BMW,218 Active Tourer,45202.480,110,2016-04-01,diesel,brown,van,True,True,False,False,False,False,True,True,22700,2018-09-01,2016

In [40]:

df.drop(['feature_1', 'feature_2'], axis=1)

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at,godina_proizvodnje
0,BMW,118,227325.409,100,2012-02-01,diesel,black,convertible,False,False,True,True,True,False,11300,2018-01-01,2012
1,BMW,M4,22551.051,317,2016-04-01,petrol,grey,convertible,False,False,False,True,True,True,69700,2018-02-01,2016
2,BMW,320,296757.843,120,2012-04-01,diesel,white,convertible,False,False,True,False,True,False,10200,2018-02-01,2012
3,BMW,420,207288.665,135,2014-07-01,diesel,red,convertible,False,False,True,True,True,True,25100,2018-02-01,2014
4,BMW,425,157200.043,160,2014-12-01,diesel,silver,convertible,False,False,False,True,True,True,33400,2018-04-01,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,64343.917,110,2015-10-01,diesel,black,van,False,False,False,False,True,False,14600,2018-08-01,2015
4839,BMW,218 Active Tourer,80678.008,100,2015-06-01,diesel,grey,van,False,False,False,False,True,True,17500,2018-08-01,2015
4840,BMW,218 Gran Tourer,31785.827,110,2015-10-01,diesel,grey,van,False,False,False,False,True,True,17000,2018-09-01,2015
4841,BMW,218 Active Tourer,45202.480,110,2016-04-01,diesel,brown,van,False,False,False,False,True,True,22700,2018-09-01,2016
4842,BMW,525,317064.960,160,2013-01-01,diesel,grey,van,False,False,True,False,True,True,15500,2018-09-01,2013

In [42]:
df.drop(['feature_1', 'feature_2','feature_3', 'feature_4','feature_5', 'feature_6','feature_7', 'feature_8'], axis=1)

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,price,sold_at,godina_proizvodnje
0,BMW,118,227325.409,100,2012-02-01,diesel,black,convertible,11300,2018-01-01,2012
1,BMW,M4,22551.051,317,2016-04-01,petrol,grey,convertible,69700,2018-02-01,2016
2,BMW,320,296757.843,120,2012-04-01,diesel,white,convertible,10200,2018-02-01,2012
3,BMW,420,207288.665,135,2014-07-01,diesel,red,convertible,25100,2018-02-01,2014
4,BMW,425,157200.043,160,2014-12-01,diesel,silver,convertible,33400,2018-04-01,2014
...,...,...,...,...,...,...,...,...,...,...,...
4838,BMW,218 Gran Tourer,64343.917,110,2015-10-01,diesel,black,van,14600,2018-08-01,2015
4839,BMW,218 Active Tourer,80678.008,100,2015-06-01,diesel,grey,van,17500,2018-08-01,2015
4840,BMW,218 Gran Tourer,31785.827,110,2015-10-01,diesel,grey,van,17000,2018-09-01,2015
4841,BMW,218 Active Tourer,45202.480,110,2016-04-01,diesel,brown,van,22700,2018-09-01,2016
4842,BMW,525,317064.960,160,2013-01-01,diesel,grey,van,15500,2018-09-01,2013

In [44]:
df[(df["fuel"] == 'petrol') & (df["engine_power"] > 200)]

,maker_key,model_key,mileage,engine_power,registration_date,fuel,paint_color,car_type,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,price,sold_at,godina_proizvodnje
1,BMW,M4,22551.051,317,2016-04-01,petrol,grey,convertible,True,True,False,False,False,True,True,True,69700,2018-02-01,2016
5,BMW,335,246657.888,225,2011-05-01,petrol,black,convertible,True,True,False,False,True,True,True,True,17100,2018-02-01,2011
17,BMW,650,39699.499,270,2008-01-01,petrol,grey,convertible,True,False,False,False,False,False,True,False,9200,2018-09-01,2008
20,BMW,135,204338.847,225,2013-02-01,petrol,white,convertible,False,False,False,False,False,True,True,True,16800,2018-05-01,2013
37,BMW,650,39587.788,270,2008-01-01,petrol,grey,convertible,True,False,False,False,False,False,True,False,6800,2018-07-01,2008
41,BMW,M3,438598.433,236,1996-08-01,petrol,black,convertible,True,False,False,False,False,True,True,False,12100,2018-08-01,1996
57,BMW,M235,55178.758,240,2015-11-01,petrol,grey,coupe,False,True,True,False,True,True,True,True,30200,2018-01-01,2015
60,BMW,435,42194.378,225,2015-02-01,petrol,blue,coupe,True,True,False,True,True,True,True,True,30500,2018-03-01,2015
62,BMW,435,73722.784,250,2014-10-01,petrol,white,coupe,True,True,True,False,True,True,True,True,38900,2018-02-01,2014
67,BMW,M3,48448.575,309,2012-09-01,petrol,silver,coupe,True,True,False,False,True,True,True,True,47000,2018-04-01,2012
72,BMW,M4,112374.790,317,2015-02-01,petrol,white,coupe,True,True,False,False,False,True,True,True,53600,2018-03-01,2015
73,BMW,M3,276120.450,309,2011-03-01,petrol,grey,coupe,True,True,False,False,True,False,True,True,28000,2018-03-01,2011
84,BMW,M235,112902.584,240,2014-11-01,petrol,grey,coupe,True,True,True,False,True,True,True,False,30000,2018-05-01,2014
93,BMW,M3,160739.177,309,2008-09-01,petrol,silver,coupe,False,False,False,False,True,False,True,True,28600,2018-04-01,2008
102,BMW,M235,60905.161,240,2014-05-01,petrol,black,coupe,True,False,False,False,True,True,True,True,27700,2018-05-01,2014
104,BMW,135,141345.176,225,2011-09-01,petrol,white,coupe,True,True,True,False,True,True,True,True,23500,2018-05-01,2011
120,BMW,335,435154.820,225,2010-11-01,petrol,white,coupe,True,True,True,False,True,True,True,False,12900,2018-06-01,2010
139,BMW,M3,275181.430,309,2011-03-01,petrol,grey,coupe,True,True,False,False,True,False,True,True,35700,2018-08-01,2011
1899,BMW,M135,152990.643,239,2014-05-01,petrol,grey,hatchback,True,False,False,False,True,False,True,True,25700,2018-02-01,2014
1984,BMW,135,235559.643,235,2013-06-01,petrol,black,hatchback,True,True,True,True,True,True,True,True,21700,2018-03-01,2013
2055,BMW,435 Gran Coupé,96701.251,225,2014-10-01,petrol,blue,hatchback,True,True,False,False,True,True,True,False,24500,2018-04-01,2014
2187,BMW,435 Gran Coupé,31531.644,225,2015-07-01,petrol,white,hatchback,True,True,False,False,True,False,True,True,40500,2018-05-01,2015
2254,BMW,435 Gran Coupé,68420.559,225,2014-07-01,petrol,grey,hatchback,True,True,False,True,True,True,True,False,27000,2018-06-01,2014
2381,BMW,135,176265.387,235,2013-11-01,petrol,black,hatchback,True,True,False,True,True,False,True,True,27400,2018-08-01,2013
2397,BMW,535 Gran Turismo,105464.898,225,2013-02-01,petrol,grey,hatchback,True,True,True,False,True,False,True,True,21300,2018-08-01,2013
2500,BMW,535,306228.993,225,2011-10-01,petrol,grey,sedan,False,True,True,False,True,False,True,True,12600,2018-05-01,2011
2701,BMW,740,328527.480,240,2009-04-01,petrol,silver,sedan,True,True,True,False,True,True,True,True,18200,2018-02-01,2009
2804,BMW,740,176475.857,240,2008-11-01,petrol,grey,sedan,True,True,False,False,True,False,True,True,18400,2018-03-01,2008
2931,BMW,535,118619.273,225,2013-09-01,petrol,blue,sedan,True,True,True,True,False,False,True,True,30000,2018-04-01,2013
2944,BMW,M3,54511.730,317,2014-03-01,petrol,blue,sedan,True,True,False,False,False,True,True,True,51200,2018-04-01,2014
3092,BMW,M3,63545.750,317,2015-11-01,petrol,black,sedan,True,True,False,False,False,True,True,True,52400,2018-05-01,2015
3124,BMW,335,138581.543,225,2013-06-01,petrol,white,sedan,False,True,False,False,True,True,True,True,24900,2018-05-01,2013
3361,BMW,535,159505.499,224,2011-09-01,petrol,black,sedan,True,True,True,False,True,False,True,True,14000,2018-06-01,2011
3601,BMW,M5,243152.753,412,2012-02-01,petrol,white,sedan,True,True,True,False,True,True,True,True,41600,2018-09-01,2012
3896,BMW,X3,73162.610,225,2013-07-01,petrol,silver,suv,True,True,True,True,True,True,True,True,29500,2018-02-01,2013
3931,BMW,X5,29852.741,233,2015-12-01,petrol,black,suv,False,True,False,False,False,False,True,True,43400,2018-02-01,2015
4146,BMW,X6 M,4808.430,423,2016-04-01,petrol,red,suv,True,True,True,False,False,False,True,True,82400,2018-04-01,2016
4427,BMW,X6,249732.369,225,2008-10-01,petrol,white,suv,True,True,False,True,True,True,True,True,18000,2018-06-01,2008
4622,BMW,X6,131339.756,225,2013-03-01,petrol,black,suv,True,True,False,True,True,False,True,True,33900,2018-07-01,2013
4724,BMW,X5,590201.593,261,2007-06-01,petrol,black,suv,True,True,True,False,True,False,True,True,11300,2018-08-01,2007

In [45]:
df["price"].mean()

np.float64(15828.081767499483)

In [46]:
df.loc[df["price"].idxmax()]

maker_key                    BMW
model_key                     X3
mileage               117401.785
engine_power                 135
registration_date     2013-03-01
fuel                      diesel
paint_color                 blue
car_type                     suv
feature_1                  False
feature_2                  False
feature_3                   True
feature_4                  False
feature_5                  False
feature_6                  False
feature_7                  False
feature_8                   True
price                     178500
sold_at               2018-08-01
godina_proizvodnje          2013
Name: 4753, dtype: object

In [47]:
df.loc[df["price"].idxmin()]

maker_key                    BMW
model_key                    320
mileage               290380.602
engine_power                 120
registration_date     2013-06-01
fuel                      diesel
paint_color                black
car_type                  estate
feature_1                  False
feature_2                   True
feature_3                  False
feature_4                  False
feature_5                  False
feature_6                  False
feature_7                   True
feature_8                   True
price                        100
sold_at               2018-03-01
godina_proizvodnje          2013
Name: 565, dtype: object

In [48]:
df["price"].sort_values()

630        100
2829       100
879        100
1832       100
565        100
         ...
2938     75000
4146     82400
90       95200
4684    142800
4753    178500
Name: price, Length: 4843, dtype: int64