In [1]:
import pandas as pd

In [6]:
data = {'Grupa': ['A', 'A', 'B', 'B'],
        'Podgrupa': [1, 2, 1, 2],
        'Vrijednost': [10, 20, 30, 40]}

df = pd.DataFrame(data)
df = df.set_index(['Grupa', 'Podgrupa'])
print(df)

                Vrijednost
Grupa Podgrupa
A     1                 10
      2                 20
B     1                 30
      2                 40

In [7]:
df.loc['A']

          Vrijednost
Podgrupa
1                 10
2                 20

In [10]:
df.xs(1, level='Podgrupa')

       Vrijednost
Grupa
A              10
B              30

In [11]:
df_reset = df.reset_index()
print(df_reset)

  Grupa  Podgrupa  Vrijednost
0     A         1          10
1     A         2          20
2     B         1          30
3     B         2          40

In [14]:
data = {'Kategorija': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Vrijednost': [10, 20, 30, 40, 50, 60]}

df = pd.DataFrame(data)
grupa = df.groupby('Kategorija')
grupa.sum()

            Vrijednost
Kategorija
A                   30
B                   70
C                  110

In [15]:
grupa.mean()

            Vrijednost
Kategorija
A                 15.0
B                 35.0
C                 55.0

In [16]:
grupa.count()

            Vrijednost
Kategorija
A                    2
B                    2
C                    2

In [18]:
grupa.agg(['sum', 'mean', 'count'])

           Vrijednost
                  sum  mean count
Kategorija
A                  30  15.0     2
B                  70  35.0     2
C                 110  55.0     2

In [19]:
df.groupby('Kategorija').filter(lambda x: x['Vrijednost'].sum() > 50)

  Kategorija  Vrijednost
2          B          30
3          B          40
4          C          50
5          C          60